main {
    padding-top: 32px;
}

.plan {
    border: #1B4242 solid 3px;
    border-left: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin: 20px 0;
    width: 60%;
}

.plan a {
    padding: 20px;
    text-decoration: none;
    display: block;
}

.plan h1 {
    color: black;
}

.plan h2 {
    color: rgb(102, 102, 102);
}

.plan p {
    color: #1B4242;
    background: #ececec;
    border: #1B4242 1px solid;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}

.plan:active,
.plan:hover {
    box-shadow: 2px 2px 10px 0 black;
    border: #f12f2f solid 3px;
    border-left: none;
}

.clear-fix {
    clear: both;
}

#free {
    background: #9EC8B9;
    float: right;
    border-right: none;
    border-left: #1B4242 solid 3px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    text-align: right;
}

#free:hover,
#free:active {
    border-left: #f12f2f solid 3px;
}

#plus {
    background: #49af8b;
}

#premium {
    background: #1B4242;
}

#premium h1 {
    color: aliceblue;
}

#premium h2 {
    color: darkgrey;
}