main {
    padding-top: 2rem;
}

.background {
    background: url("../images/plans-background.jpg") center/cover;
    filter: grayscale(70%);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.plan {
    border: rgb(27, 66, 66) solid 3px;
    border-left: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin: 2rem 0;
    width: 60%;
    position: relative;
}

.plan__badge {
    position: absolute;
    margin: 1.3rem;
    top: 0;
    right: 0;
    color: black !important;
    background: #eef11b;
    padding: 0.6rem;
    border: #1B4242 solid 2px;
    border-radius: 20px;
    font-size: 1rem;
}

.plan a {
    padding: 1.3rem;
    text-decoration: none;
    display: block;
}

.plan h1 {
    color: black;
}

.plan h2 {
    color: rgb(102, 102, 102);
}

.plan p {
    color: #1B4242;
    background: rgba(236, 236, 236, 0.9);
    border: #1B4242 1px solid;
    border-radius: 10px;
    padding: 0.6rem;
    font-size: 1.3rem;
}

.plan:active,
.plan:hover {
    box-shadow: 2px 2px 10px 0 black;
    border: #f12f2f solid 3px;
    border-left: none;
}

.clear-fix {
    clear: both;
}

#free {
    background: rgba(158, 200, 185, 0.9);
    float: right;
    border-right: none;
    border-left: #1B4242 solid 3px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    text-align: right;
}

#free:hover,
#free:active {
    border-left: #f12f2f solid 3px;
}

#plus {
    background: rgba(73, 175, 139, 0.9);
}

#premium {
    background: rgba(27, 66, 66, 0.9);
}

#premium h1 {
    color: aliceblue;
}

#premium h2 {
    color: darkgrey;
}